@import "tailwindcss";
@import "tw-animate-css";
@plugin '../../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
@import "@fortawesome/fontawesome-free/css/all.min.css";


header{
    padding-inline: 50px;
    max-width: 1200px;
}
